/*Estilos generales*/

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a
{
  text-decoration: none;
}

body
{
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.contenedor
{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*HEADER*/

header
{
  background: url(../img/portafolio.jpg), #000c46;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

header .menu
{
  margin: 40px 20px 40px 0px;
  text-align: right;
}

header .menu a
{
  margin: 0 20px;
  color: #fff;
  padding-bottom: 6px;
  font-size: 20px;
  display: inline-block;
  border-bottom: 3px solid transparent;
}

header .menu a:hover
{
  border-bottom: 3px solid #fff;
}

header .contenedor-texto
{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 150px 0;
}

header .contenedor-texto .texto
{
  border: 3px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 27px 71px;
}

header .contenedor-texto .texto .nombre, header .contenedor-texto .texto .profesion
{
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header .contenedor-texto .texto .nombre
{
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 50px;
}

header .contenedor-texto .texto .profesion
{
  font-size: 25px;
  line-height: 25px;
}

/*MAIN*/

/*Acerca de*/

.main .contenedor
{
  overflow: visible;
}

.main .acerca-de
{
  text-align: center;
}

.main .acerca-de .foto
{
  margin-top: -108px;
}

.main .acerca-de .foto img
{
  vertical-align: top;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.3);
}

.main .acerca-de .texto
{
  line-height: 25px;
  width: 80%;
  margin: 50px auto;
}

.main .acerca-de .texto .titulo
{
  color: #0769ad;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 30px;
}
.main .acerca-de .texto p
{
  font-size: 20px;
  margin-top: 0;
  color: #323232;
}

/*Trabajos*/

.main .trabajos
{
  background: #f4f3ff;
  padding: 20px 0;
}

.main .trabajos .contenedor
{
  overflow: hidden;
}

.main .trabajos .titulo
{
  font-weight: 300;
  font-size: 30px;
  color: #000453;
  text-align: center;
  margin-bottom: 50px;
  line-height: 30px;
}

.main .trabajos .contenedor-trabajos
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo
{
  margin-bottom: 40px;
}

.main .trabajos .contenedor-trabajos .trabajo .imagen
{
  width: 100%;
  margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .imagen img
{
  width: 100%;
  vertical-align: top;
  border-radius: 5px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion
{
  text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre
{
  font-weight: 500;
  color: #003087;
  font-size: 20px;
  margin-bottom: 25px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria
{
  font-size: 15px;
  color: #343434;
}
